# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Virtual environments
myenv/
venv/

# Raw datasets
data/
assets/data/


# Vectorstores / FAISS indexes
vectorstores/
assets/vectorstores/

*.faiss
*.pkl

# OS files
.DS_Store
